.topImage{
    width: 1220px;
    height: 700;
}
.nav{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: gray;
}
img{
    width: 100vw;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wordsCenter{
    position: relative;
    text-align: center;
    width: 40vw; 
}
.bambooWords{
    position: absolute;
    font-weight: bold;
    color: white;
    bottom: 60px;
}
.wordsLeft{
    position: relative;
    text-align: center;
    width: 40vw;
}
.intro{
    position: absolute;
    left: 50px;
    bottom: 85px;
    width: 0vw;
    font-weight: bold;
}
button{
    background-color: rgb(233, 163, 103);
    color: white;
    font-weight: bold;
    height: 35px;
    width: 82px;
    border: 3px solid rgb(233, 163, 103);
}
.productsDiv{
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    width: 100vw;
}
.product{
    padding: 4px;
    height: 20px;
    width: 20px;
}
#pad{
    height: 20vh;
    width: 20vw;
}
