.topImage{
    width: 1220px;
    height: 700;
}
.padImages{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.padWithHand{
    height: 30vh;
    width: 20vw;
}
.nav{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: gray;
}
.outter{
    position: relative;
    text-align: center;
}
.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 100vw;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wordsCenter{
    position: relative;
    text-align: center;
}
.bambooWords{
    position: absolute;
    bottom: 55px;
    left: 100px;
    font-weight: bold;
    color: white;
}
.wordsLeft{
    position: relative;
    text-align: center;
    width: 70px;
}
.intro{
    position: absolute;
    left: 50px;
    bottom: 85px;
    font-weight: bold;
}
button{
    background-color: rgb(233, 163, 103);
    color: white;
    font-weight: bold;
    height: 35px;
    width: 82px;
    border: 3px solid rgb(233, 163, 103);
}
.productsDiv{
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    position: relative;
}
.product{
    padding: 10px;
    height: 20px;
    width: 20px;
}
#pad{
    width: 40px;
    height: 60px;
}
